<h2>Bankrekeningen</h2>
<div class="row">
  <div class="col-md-12">
    <form name="newBankrekeningForm" class="form" ng-submit="add()">
      <div class="form-group">
        <label for="newBankrekeningNameInput">Nieuwe bankrekening</label>

        <div class="input-group">
           <span class="input-group-btn">
           <input id="newBankrekeningNameInput" required ng-model="newBankrekeningName" class="form-control"
                  type="text"/>
            <button class="btn btn-success" type="submit">Opslaan</button>
          </span>
        </div>
      </div>

    </form>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Naam</th>
    <th>Nummer</th>
    <th>Bedrag</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="bankrekening in bankrekeningen">
    <td>{{bankrekening.name}}</td>
    <td>{{bankrekening.number}}</td>
    <td>{{bankrekening.amount|currency:'$'}}</td>
  </tr>
  </tbody>
</table>